* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 75vw 24vw;
  grid-template-rows: 10vh auto 10vh;
  grid-template-areas:
    "header     header "
    "container filter"
    "footer footer ";
    background-color: #0C2626;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffeead;
  background-color: #544A7C;
  margin: 10px;
  border-radius: 5px;
}
.container {
  grid-area: container;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 15px;
  justify-content: space-around;
  background-color: #849EA8;
  border-radius: 5px;
}
.filter {
  grid-area: filter;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffeead;
  background-color: #466470;
}
footer {
  grid-area: footer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: #2D2842;
  margin: 5px;
  border-radius: 5px;
  color: #ffeead;

}
.copyright {
  margin-left: auto;
}
.card {
  width: 390px;
  height: 300px;
  border: 2px solid #0C2626;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: #D5D8EB;
}
.card > img {
  align-self: flex-start;
  width: 200px;
  height: 200px;
  margin-top: 4%;
  margin-left: 4%;

}
.card > .desc {
  margin-left: 4%;
  margin-top: 4%;
}
.card > .calorie {
  margin-left: 4%;
  
}
[type="radio"] {
  display: none;
}
#bowl:checked ~ div:not(.bowl) {
  display: none;
}
#soup:checked ~ div:not(.soup) {
  display: none;
}
#chilli:checked ~ div:not(.chilli) {
  display: none;
}
#seabass:checked ~ div:not(.seabass) {
  display: none;
}
#deserts:checked ~ div:not(.deserts) {
  display: none;
}
.filter > label {
  color: #ffeead;;
  padding: 2px 10px;
  border-radius: 5px;
  border: 2px solid #0C2626;
  margin-top: 10%;
  font-size: 30px;
}
.type {
  font-weight: bold;
}
@media (min-width: 731px) and (max-width: 1240px) {
  body {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh auto auto 10vh;
    grid-template-areas:
      "header"
      "filter"
      "container"
      "footer";
    overflow-x: hidden;
  }
  header {
    margin-right: 3%;
    margin-left: 2%;
  }
  .filter > h2,
  .filter > [type="range"] {
    display: none;
  }
  .card > .calorie {
    display: none;
  }
  .filter {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: center;
  }
  .filter > label {
    margin-top: 0;
    margin: 5px;
    font-size: 24px;
  }
  .card {
    width: 250px;
    height: 270px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card > .desc {
    margin-left: 15px;
    margin-top: 15px;
  }
  .card > img {
    width: 100%;
    height: 80%;
    margin-top: 0;
    margin-left: 0;

  }
  footer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
  }
  footer .copyright {
    margin-right: 25px;
  }
  .container {
    justify-content: center;
  }
}
@media (min-width: 360px) and (max-width: 730px) {
  body {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh auto auto 10vh;
    grid-template-areas:
      "header"
      "filter"
      "container"
      "footer";
    overflow-x: hidden;
  }
  header {
    margin-right: 3%;
    margin-left: 2%;
  }
  .container {
    justify-content: center;
  }
  .filter {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2%;
    margin-right: 3%;
    margin-left: 2%;
    justify-content: center;
  }
  .filter > h2,
  .filter > [type="range"] {
    display: none;
  }
  .filter > label {
    margin-top: 0;
    margin: 5px;
    font-size: 24px;
  }
  .card > .desc,
  .card > .calorie {
    display: none;
  }
  .card > img {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
  }
  footer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
  }
  .copyright {
    margin-left: 0;
  }
}
